name: Docker Build and Push

on:
  push:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: talhadevelopes
        password: ${{ secrets.DOCKERHUB_TOKEN }}
        
    - name: Build and push Server
      uses: docker/build-push-action@v4
      with:
        context: .
        file: ./packages/server/Dockerfile
        push: true
        tags: ${{ secrets.DOCKERHUB_USERNAME }}/pixel-ui-server:latest
        
    - name: Build and push Client
      uses: docker/build-push-action@v4
      with:
        context: .
        file: ./apps/web/Dockerfile
        push: true
        tags: ${{ secrets.DOCKERHUB_USERNAME }}/pixel-ui-client:latest